<div class="experience">
    <h2>Experience</h2>
    <div class="experience-item">
        <h3>Amazon AWS AI</h3>
        <p>June 2024 - September 2024</p>
    </div>
    <!-- <div class="experience-item">
        <h3>Apple</h3>
        <p>June 2025 - September 2025</p>
    </div> -->
</div> 

<div id="map-container">
    <script type='text/javascript' id='mapmyvisitors' src='https://mapmyvisitors.com/map.js?cl=080808&w=a&t=tt&d=3hYg96CqA8tHVFDAUu79fnP_Kxf-pWJg6j4naqdR5S0&co=ffffff&cmo=3acc3a&cmn=ff5353&ct=808080'></script>
</div>