
          <div class="publications">
            <h2>Selected Publications</h2>
            {% bibliography -f papers -q @*[selected=true]* %}
          </div>

          <div class="education">
            <h2>Education</h2>
            <!-- <div class="education-item"> -->
            <p><strong>University of California, Los Angeles </strong>2022.09 - present</p>
            <p>PhD in Statistics and Data Science</p>
            <!-- </div> -->           <!-- <div class="education-item"> -->
              <p><strong>Fudan University </strong>2018.09 - 2022.06</p>           
                <p>B.S. in Data Science and Big Data Technology, First-Class Honor</p>
            <!-- </div> -->
        </div>

        <div class="experience">
          <h2>Experience</h2>
          <!-- <div class="experience-item"> -->
            <p><strong>Amazon AWS AI Labs, Applied Scientist Intern </strong>2024 Summer</p>           
          <!-- </div> -->
          <!-- <div class="experience-item">
              <h3>Apple</h3>
              <p>June 2025 - September 2025</p>
          </div> -->
      </div> 
      
      <div id="map-container">
          <script type='text/javascript' id='mapmyvisitors' src='https://mapmyvisitors.com/map.js?cl=080808&w=a&t=tt&d=3hYg96CqA8tHVFDAUu79fnP_Kxf-pWJg6j4naqdR5S0&co=ffffff&cmo=3acc3a&cmn=ff5353&ct=808080'></script>
      </div>

          

          <!-- <script type='text/javascript' id='mapmyvisitors' src='https://mapmyvisitors.com/map.js?cl=ffffff&w=a&t=n&d=3hYg96CqA8tHVFDAUu79fnP_Kxf-pWJg6j4naqdR5S0&co=64b3eb'></script> -->
          <!-- <script type='text/javascript' id='mapmyvisitors' src='https://mapmyvisitors.com/map.js?cl=ffffff&w=a&t=tt&d=3hYg96CqA8tHVFDAUu79fnP_Kxf-pWJg6j4naqdR5S0&co=64b3eb'></script> -->